[include]
  path = ~/.gitconfig.local

[user]
  name = Kurniawan

[core]
  editor = nvim

[init]
  defaultBranch = main

[pull]
  rebase = true

[fetch]
  prune = true

[branch]
  sort = -committerdate

[commit]
  verbose = true

[alias]
  co = checkout
  cb = checkout -b
  cae = commit --allowed-empty
  c = cherry-pick
  cc = cherry-pick --continue
  psu = push --set-upstream origin
  ca = commit -a
  log = log --oneline --graph --decorate --all
  po = pull origin
